@font-face {
    font-family: TimesNow;
    src: url(Louis\ George\ Cafe.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TimesNow;
}
body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(245, 241, 241, 0.804);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#nav{
    width: 90%;
    height: 8%;
    /* background-color: red; */
    position: absolute;
    top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav #nav-pt1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
#nav #nav-pt1 h3{
    border: 1.5px solid rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
}
#nav #nav-pt1 i{
    border: 1.5px solid black;
    padding: 2px 7px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
}
#nav #nav-pt2 {
    font-size: 23px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}
#nav #nav-pt2 #box{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FF4E26;
}
#nav #nav-pt3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
#nav #nav-pt3 h3{
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
}
#nav #nav-pt3 span h3{
    background: #FF4E26;
    color: white;
}
#mid h1{
    font-size: 150px;
    font-weight: 590;
    text-transform: uppercase;
    letter-spacing: -4px;
    word-spacing: 20px;
    margin-top: -1%;
}
#mid img{
    height: 400px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}
#mid #img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#mid #img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#mid #img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#mid #img4{
    transform: translate(-50%,-50%) ;
}
#bottom{
    width: 90%;
    height: 12%;
    position: absolute;
    bottom: 2%;
}
#upper{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#upper #box {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FF4E26;
}
#upper #left{
    width: 12%;
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
#lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#lower h3{
    font-weight: 500;
    font-size: 17px;
}